@media (min-width:320px) and (max-width:767px) {
    .container {
        width: 280px;
    }
    .page-nav__item-mobile {
        display: none;
    }
    .header-section {
        height: 490px;
        padding-top: 43px;
        padding-bottom: 20px;
    }
    .page-header-title {
        font-size: 18px;
    }
    .header-title-paragraph {
        font-size: 14px;
    }

}